* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli';
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
