.Footer-container {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #dadce0;
    background-color: var(--white);
    z-index: 300;
}
