* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli';
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    h2 {
        font-size: 22px;
    }
}

h4 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

h5 {
    font-size: 13px;
    font-weight: 100;
    text-decoration: none;
}

input:placeholder-shown {
    font-family: 'Muli';
}

a {
    text-decoration: none;
}

.button {
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
}

@media screen and (max-width: 768px) {
    .button {
        width: 100%;
        margin-top: 10px;
    }
}

.button-red {
    background-color: #ff0000;
    color: #ffffff;
}

.right {
    margin-left: auto !important;
}

.bottom {
    margin-top: auto !important;
}

.left-space {
    margin-left: 15px;
}

.right-space {
    margin-right: 15px;
}
