header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 300;
}

@media screen and (max-width: 320px) {
    header {
        border-bottom: 1px solid #F1F1F1;
    }
}

.header__apps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    .header__apps {
        display: none;
    }
}

.header__left {
    min-width: 175px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .header__left {
        min-width: unset;
    }
}

.header__right {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 900px) {
    .header__right {
        width: auto;
    }
}