main {
    width: auto;
    margin-top: 80px;
    margin-left: 200px;
    padding: 30px;
}

@media screen and (max-width: 900px) {
    main {
        margin-left: unset;
        margin-bottom: 60px;
    }
}

.section__content {
    display: flex;
    flex-direction: column;
}

.section__content:not(:first-child) {
    margin-top: 40px;
}

.section__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

@media screen and (max-width: 320px) {
    .section__title {
        flex-direction: column;
    }
}

.section__title-recomendation {
    font-size: 16px;
    color: #C2C2C2;
}

.section__tab {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .section__tab {
        display: none;
    }
}

.section__tab-small {
    display: none;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .section__tab-small {
        display: flex;
    }
}

.section__video_row {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-bottom: 20px;
    overflow-x: auto;
}

@media screen and (max-width: 320px) {
    .section__video_row {
        flex-direction: column;
    }
}

.video__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 320px) {
    .video__container {
        align-items: flex-start
    }
}

.video__container:hover {
    cursor: pointer;
}

.video__container:not(:first-child) {
    margin-left: 40px;
}

@media screen and (max-width: 320px) {
    .video__container:not(:first-child) {
        margin-top: 20px;
        margin-left: unset;
    }
}

.video__container-with-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.video__description-container {
    height: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.video__description-text {
    margin-top: 15px;
}

.video__content_small {
    position: relative;
    height: 150px;
    width: 250px;
}

.video__content {
    position: relative;
    height: 250px;
    width: 540px;
}

@media screen and (max-width: 900px) {
    .video__content {
        height: 150px;
        width: 250px;
    }

    .video__content img {
        height: 150px;
        width: 250px;
        border-radius: 15px;
        object-fit: cover;
    }
}

.video__title {
    margin-top: 5px;
}

.video__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    color: #C2C2C2;
}

.video__time {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 5px 10px;
    background-color: #000000;
    opacity: 0.7;
    border-radius: 30px;
    color: #ffffff;
    font-size: 13px;
}

.tab__title {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
}

.tab__title:not(:first-child) {
    margin-left: 60px;
}

@media screen and (max-width: 1100px) {
    .tab__title:not(:first-child) {
        margin-left: 30px;
    }
}

@media screen and (max-width: 350px) {
    .tab__title:not(:first-child) {
        margin-left: 15px;
    }
}

.tab__title:hover {
    text-decoration: underline;
}

.tab__title_active {
    color: #ff0000;
    font-weight: bold;
    text-decoration: underline;
}

.recommendation-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}

@media screen and (max-width: 320px) {
    .recommendation-container {
        flex-direction: column;
        margin-left: unset;
    }
}

