.search {
    height: 40px;
    width: 600px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: #EBEBEB;
    padding: 0 10px;
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .search {
        display: none;
    }
}

.search__input {
    width: 100%;
    padding-left: 15px;
    border: none;
    background-color: transparent;
}

.search__input:focus {
    outline: none !important;
}

.search_small {
    display: none;
}

@media screen and (max-width: 768px) {
    .search_small {
        display: flex;
        margin-right: 15px;
    }
}
