.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--default-text-color);
}

.form .input-wrapper {
    margin-top: 15px;
}

.form .button {
    margin-top: 30px;
}
